<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= customer.mobile_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.address %>
  </p>

  <p>
    <strong>Total members:</strong>
    <%= customer.total_members %>
  </p>

  <p>
    <strong>Id card:</strong>
    <%= customer.id_card %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= customer.status %>
  </p>

</div>
