<div id="<%= dom_id hotel %>">
  <p>
    <strong>Name:</strong>
    <%= hotel.name %>
  </p>

  <p>
    <strong>Owner name:</strong>
    <%= hotel.owner_name %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= hotel.mobile_number %>
  </p>

  <p>
    <strong>Gst:</strong>
    <%= hotel.gst %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= hotel.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= hotel.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= hotel.state %>
  </p>

</div>
