<!DOCTYPE html>
<html>
  <head>
    <title>CheckinManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
  <div class="container">
    <%= render 'shared/navbar' if hotel_signed_in? %>
    <div class="flash_messages">
      <%= render 'shared/toaster_flash' %>
    </div>
    <div class="content-container container">
      <%= yield %>
    </div>
  </div>
  <%= render 'shared/modal' %>
  </body>
</html>
